@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

.my_font {
    font-family: 'OTWelcomeRA', serif;
}

color_ {
    border: 3px solid transparent;
    margin-top:3px; 
    width: 2rem; 
    height: 2rem;
    }

.btn {
    border: 3px solid transparent;
    margin-top:3px; 
    width: 2rem; 
    height: 2rem;
    }
    
.btn-check:focus + .btn, .btn:focus {
    outline: 0  ;
    box-shadow: 0 0 0 0.25rem rgba(100, 161, 157, 0.25);
}

.btn-check:checked + .btn, .btn:checked {
    outline: 0;
    border: 3px solid red;
}  


.myButton {
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color:#f24537;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 0px 37px #810e05;
}
.myButton:hover {
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color:#c62d1f;
}
.myButton:active {
    position:relative;
    top:1px;
}

 .container{        /*부트스트랩과 겹침 */
    text-align:center;
}